body{
    font-family: "Poppins", sans-serif;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}
.main-btn{
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    background-color: $light-green;
    padding: 10px 20px;
    display: inline-block;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .2s;
    &:hover{
        background-color: $dark-green;
    }
}
.more-btn{
    position: relative;
    margin: 0 auto;
    transition: .5s;
    width: 125px;
    &:hover{
        width: 160px;
        .right-arrow{
            display: block;
            width: 24px;
            height: 24px;
            z-index: 10;
        }
    }
}
.right-arrow{
    display: none;
    position: absolute;
    right: 20px;
}
.main-title{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 80px;
    h2{
        display: inline-block;
        position: relative;
        white-space: nowrap;
    }
    h2:before{
        content: "";
        width: 0;
        height: 5px;
        background-color: $light-green;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: .2s;
    }
}
.new, .shop, .campain, .fashion, .product, .plant
, .coffee{
    margin-bottom: 80px;
    &:hover{
        .main-title{
            h2::before{
                width: 90%;
            }
        }
    }
}

.orange{
    &-btn{
        background: $orange-gradient;
        padding: 5px 15px;
        color: white;
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 5px;
        position: relative;
        width: 126px;
        white-space: nowrap;
        transition: .2s;
        &:hover{
            width: 154px;
            .orange-cart{
                display: block;
            }
        }
    }
    &-cart{
        display: none;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
    }
}
.sns-list{
    display: flex;
    align-items: center;
    gap: 15px;
}
