.category{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    &-content{
        display: flex;
        align-items: center;
        gap: 40px;
    }
    &-title{
        color: $light-green;
        font-size: 20px;
        font-weight: 700;
        margin-right: 40px;
    }
    &-list{
        display: flex;
        li{
            padding: 8px 30px;
            border-radius: 100px;
            background: $background-gray;
            margin-right: 20px;
            &:hover{
                background: $light-gray;
            }
        }
    }
    &-item{
        font-weight: 600;
        color: #000;
    }
}