.campain{
    margin-bottom: 90px;
    &-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-item{
        display: flex;
        border-radius: 10px;
        box-shadow: $shadow;
        overflow: hidden;
        max-width: 996px;
        margin-bottom: 55px;
        // max-height: 327px;
        transition: .3s;
        flex-direction: row;
        &:nth-child(2){
            flex-direction: row-reverse;
            text-align: right;
            .campain-btn-2{
                margin-right: 0;
            }
        }
        &:hover{
            box-shadow: $dark-shadow;
            transform: scale(1.05);
            img{
                transform: scale(1.00);
            }
        }
    }
    &-img{
        max-width: 610px;
        max-height: 327px;
        object-fit: cover;
        overflow: hidden;
        & img{
            transition: .3s;
            transform: scale(1.0225);
        }
        
    }
    &-content{
        padding: 35px;
        max-width: 386px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &-title{
        font-size: 30px;
        font-weight: 600;
        line-height:1.2;
    }
    &-sub{
        font-size: 16px;
        font-weight: 500;
        line-height: 2em;
        margin-bottom: 5px;
    }
    &-desc{
        font-size: 16px;
        font-weight: 400;
    }
}
@media screen and (max-width: 1536px){
    .campain{
        &-item{
            flex-direction: column;
            &:nth-child(2){
                flex-direction: column;
                text-align: left;
                .campain-btn-2{
                    margin-left: 0;
                }
            }
        }
        &-img{
            height: 625px;
        }
        &-content{
            max-width: 600px;
        }
        button{
            margin-top: 20px;
        }
    }
}