body{
    font-family: "Poppins", sans-serif;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}
.main-btn{
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    background-color: $light-green;
    padding: 10px 20px;
    display: inline-block;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .2s;
    &:hover{
        background-color: $dark-green;
    }
}
.more-btn{
    position: relative;
    margin: 0 auto;
    transition: .5s;
    width: 125px;
    &:hover{
        width: 160px;
        .right-arrow{
            display: block;
            width: 24px;
            height: 24px;
            z-index: 10;
        }
    }
}
.right-arrow{
    display: none;
    position: absolute;
    right: 20px;
}
.main-title{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 80px;
    h2{
        display: inline-block;
        position: relative;
    }
    h2:before{
        content: "";
        width: 0;
        height: 5px;
        background-color: $light-green;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: .2s;
    }
}
.new, .shop, .campain{
    margin-bottom: 90px;
    &:hover{
        .main-title{
            h2::before{
                width: 100%;
            }
        }
    }
}
