$super-light-green: #78ffc0;
$light-green: #238759;
$dark-green: #0E5837;
$super-dark-green:#084429;
$light-gray: rgba(0, 0, 0, 0.10);
$dark-gray: #474747;
$primary-font: "Poppins", sans-serif;
$secondary-font: "Send Flowers", sans-serif; 
$shadow:  rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$dark-shadow: rgba(100, 100, 111, 0.6) 0px 7px 29px 0px;
$orange-gradient: linear-gradient(145deg, #FF8A00 0%, #FFAF52 100%);
$border-color: rgba(0, 0, 0, 0.25);